data
__pycache__/
.DS_Store
!*analysis_result*
!*analysisresult*
*egg*
pretrained
checkpoints
*secrets*
integrated_data
files
node_modules
logs
.venv/
api/src/models
local_directory_data_sources
data_integration_scripts
datasets
pipeline_scripts
*password.txt
data_storage
script_storage
analysis_storage
.ssh
*weights
project_server/sandbox/*-*-*-*-*/
project_server/server/internal/*
.cursor
.kaggle
*.egg-info
projects_dir*
sandbox/exp
secrets
exp/
.vscode/
.pytest_cache/
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/coverage
/.next/
/out/
/build
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*
.vercel
*.tsbuildinfo
next-env.d.ts
