data
__pycache__
.DS_Store
*result*
*egg*
pretrained
checkpoints
*secrets*
integrated_data
files
node_modules
logs
.venv/
api/src/models
local_directory_data_sources
data_integration_scripts
datasets
pipeline_scripts
*password.txt