version: '3.8'

services:

  server:
    build:
      context: ../..
      dockerfile: project_server/server/Dockerfile.prod
    image: project-server:latest
    container_name: project-server
    networks:
      - project-backend
      - project-frontend
    command: ["uvicorn", "src.project_server.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload", "--reload-exclude", "/app/sandbox", "--reload-exclude", "/app/internal"] 
    volumes:
      - type: bind
        source: ../server
        target: /app
      - type: bind
        source: ../../schemas
        target: /app/schemas
      - type: bind
        source: ../sandbox/
        target: /app/sandbox/
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    environment:
      DOCKER_API_VERSION: 1.44
        
  taskiq-worker:
    build:
      context: ../..
      dockerfile: project_server/server/Dockerfile.prod
    image: project-server:latest
    container_name: project-taskiq-worker
    command: ["sh", "-c", "cd /app/src && taskiq worker project_server.worker:broker --tasks-pattern '**/runner.py' --tasks-pattern '**/pipeline_router.py' -fsd --reload"]
    networks:
      - project-backend
    depends_on:
      - server
    volumes:
      - type: bind
        source: ../server
        target: /app
      - type: bind
        source: ../../schemas
        target: /app/schemas
      - type: bind
        source: ../sandbox/
        target: /app/sandbox/
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
    environment:
      DOCKER_API_VERSION: 1.44

  proxy:
    image: nginx:latest
    container_name: project-proxy
    ports:
      - "81:81"
    networks:
      - project-frontend
    depends_on:
      - server
    volumes:
      - type: bind
        source: ../proxy/nginx-dev.conf
        target: /etc/nginx/nginx.conf
        read_only: true

volumes:
  postgres_data:

networks:
  project-backend:
    driver: bridge
  project-frontend:
    driver: bridge
