version: '3.8'

services:

  server:
    &server
    build:
      context: ../..
      dockerfile: project_server/server/Dockerfile.dev  
    container_name: project-server
    networks:
      - project-backend
      - project-frontend
    command: ["uvicorn", "src.project_server.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload", "--reload-exclude", "/app/data_storage", "--reload-exclude", "/app/src/project_server/script_storage"] 
    volumes:
      - type: bind
        source: ../server
        target: /app
      - type: bind
        source: ../../data_interface
        target: /app/data_interface
      - type: bind
        source: ../../schemas
        target: /app/schemas
      - type: bind
        source: ../sandbox/pyproject.toml
        target: /app/sandbox/pyproject.toml
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
      - type: bind
        source: ../server/data_storage
        target: /app/data_storage
      - type: bind
        source: ../server/src/project_server/script_storage
        target: /app/src/project_server/script_storage
        
  taskiq-worker:
    <<: *server
    container_name: project-taskiq-worker
    command: ["sh", "-c", "cd /app/src && taskiq worker project_server.worker:broker --tasks-pattern '**/runner.py' --tasks-pattern '**/pipeline_router.py' -fsd --reload"]
    networks:
      - project-backend

  sandbox:
    <<: *server
    container_name: project-sandbox
    command: ["tail", "-f", "/dev/null"]

  proxy:
    image: nginx:latest
    container_name: project-proxy
    ports:
      - "81:81"
    networks:
      - project-frontend
    depends_on:
      - server
    volumes:
      - type: bind
        source: ../proxy/nginx-dev.conf
        target: /etc/nginx/nginx.conf
        read_only: true

volumes:
  postgres_data:

networks:
  project-backend:
    driver: bridge
  project-frontend:
    driver: bridge
