version: '3.8'

services:
  db:
    image: pgvector/pgvector:0.8.0-pg17-bookworm
    container_name: main-db
    environment:
      POSTGRES_DB: synesis
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - main-backend

  server:
    &server
    build:
      context: ../../..
      dockerfile: kvasir-app/main_server/server/Dockerfile.prod
    container_name: main-server
    networks:
      - main-backend
      - main-frontend
    depends_on:
      - db
    volumes:
      - ${HOME}/.ssh/es256-private.pem:/app/.ssh/es256-private.pem
      - ${HOME}/.ssh/es256-public.pem:/app/.ssh/es256-public.pem

  client:
    build:
      context: ../../..
      dockerfile: kvasir-app/main_server/client/Dockerfile.prod
    container_name: main-client
    networks:
      - main-frontend
    depends_on:
      - server

  proxy:
    image: nginx:latest
    container_name: main-proxy
    ports:
      - "80:80"
    networks:
      - main-frontend
    depends_on:
      - server
      - client
    volumes:
      - type: bind
        source: ../proxy/nginx.conf
        target: /etc/nginx/nginx.conf
        read_only: true

volumes:
  postgres_data:

networks:
  main-backend:
    driver: bridge
  main-frontend:
    driver: bridge
